$red: #dd2c00;
$dark-blue: #263238;
$border-color: #eee;

$logo-base-size: 10px;
$border-size: 22px;
$font-size-1: 13px;
$font-size-2: 16px;
$font-size-3: 20px;
$font-size-100: 100px;

$content-width: 1100px;

$abel-font-family: 'Abel', Verdana, sans-serif;
$passion-font-family: 'Passion One', Verdana, sans-serif;
$monospace-font-family: monospace, Verdana, sans-serif;
